#runtime directories
/frontend/www/assets/
/frontend/runtime
/console/runtime
/backend/runtime
/backend/www/assets/

#configuration files and entry scripts created per environment 
/frontend/config/*-local.php
/frontend/config/test.php
/common/config/*-local.php
/console/config/*-local.php
/backend/config/*-local.php
/backend/www/index.php
/console/yiic.php
/frontend/www/index.php
/frontend/www/.htaccess
/frontend/www/robots.txt
/backend/www/.htaccess
/backend/www/robots.txt

#yii framework files we don't need under our scm
/common/lib/yii/

#phpstorm project files
.idea

#netbeans project files
nbproject
